header {
    background-color: #16151D;
    padding: 0;
    font-size: 15px;
    text-align: left;
}

.area-logo{
    float: left;
    background-color: gray;
    display: flex;
}

.area-nav{
    background-color: #B8180A;
    text-align: left;
    height: 50px;
    padding: 0;
    margin: 0;
}

.area-nav ul{
    list-style: none;
    text-align: right;
}

.area-nav ul li{
    display: inline;
    color: white;
}

.content-area1{
    background-color: blue;
    padding: 0;
    margin: 0;
}

.content-area2{
    background-color: green;
    padding: 0;
    margin: 0;
}
