/* Global Style */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

p, h1, h2, h3{
    margin: 0;
    padding: 0;
}
/* navigasi */
.navigasi{
    background-color: red;
    height: 70px;
    /* width: 100%; */
    /* position: fixed; */
}

/* left Navbar */
.left-nav{
    /* width: 100%; */
    height: 1000px;
    padding: 0;
    margin: 0;
}

.menu-nav{
    background-color: #0D28A6;
    padding: 0;
}

.list-nav{
    background-color: #fff;
    height: 100vh;
}

.icon-1{
    background-color: #CFD4ED;
    align-items: center;
    height: 100%;
}
.left-nav-icon img{
    width: 100%;
}

.list-nav-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* nav top */
.nav-top{
    height: 70px;
    /* width: 100%; */
    /* position: fixed; */
    background-color: #fff;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.nav-top p {
    margin-left: 15px;
    padding: 0;
    font-size: 20px;
    /* font-weight: bold; */
    
}
.nav-top-1 img{
    height: 40px;
    margin-left: 20px;
}
.nav-top-2 img{
    height: 10px;
    margin-left: 10px;
}
.nav-search{
    /* width: 50%; */
    display: flex;
    /* justify-content: flex-end; */
}

.icon-3{
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background-color: #CFD4ED;
    border-radius: 40px;
    justify-content:center;
    align-items:center;
    display: flex;
    font-size: 20pt;
    
}
/* list card */
.area-cars{
    padding: 0;
}
.area-card-cars{
    padding: 0;
    margin: 0;
}

.card-cars{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    /* align-items: flex-start; */
    /* border: 1px solid #ddd; */
    border-radius: 3px;
}
.card-tampil-mobil button{
    /* width: 100%; */
    height: 50px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction:column */
}
.card-cars img {
    width: 100%;
    height: 200px;
}

.btn-green{
    background-color: #00a65a;
    color: #fff;
}   
